*{
    background-color: #1E1E1E ;
    font-family:Arial;
    color: #D3D3D3 ;
}
.input-text-heading{
    display: flex;
    justify-content: center;
}
.input{
    margin-top: 8%;
    font-size: medium;
    line-height: 1.5;
    width: 700px;
    outline: none;
    border: none;
    word-wrap: break-word;
    overflow-wrap:break-word;
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}
.input:empty::before{
    content: attr(data-placeholder);
    color: #646464;
}

.input-sub-text{
    font-size: small;
    line-height: 1.5;
    width: 700px;
    outline: none;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: large;
}

.input-sub-text:empty::before{
    content: attr(data-placeholder);
    color: #646464;
}
